body{
    color: darkslategray;
    background-color: blueviolet;
    font-family: 'Oxygen', sans-serif;
}

 .navbar-brand h1{
    padding:0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
      
}
.navbar-header{
    padding: 20px;
}


.navbar-default .navbar-toggle .icon-bar {
    background-color: red
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
    border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle{
    clear: both;
}
li a{
    text-align: center;
    font-size: 25px;
}
h3{
    text-align: center;
    font-size: 50px;
    color: white;
    font-family: 'Oswald', sans-serif;
}



#beef{
    background-color: #f2daac;
    font-size: 20px;
}

#sushi{
    background-color: darkgray;
    
    font-size: 20px;
}

.row{
    width: 100%;
    padding-left:15px;


}
#chicken{
    background-color:#8ec5d4;
    font-size: 20px;
}
.article{
    float:left;
    border:1px solid black;
}
#p{
    text-align: center;
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
    color: #D2691E; 
    padding: 0;
    margin: 0;       

}
#p2{
    text-align: center;
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
    color: #D2691E; 
    padding: 0;
    margin: 0;       

}
#p3{
    text-align: center;
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
    color: #D2691E; 
    padding: 0;
    margin: 0;       

}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.data{
    margin-top: 35px;
    margin-left: 20px;
    margin-right: 10px;
    text-align: center;
 font-family: 'Playfair Display', serif;
}
.article-container{
    padding-top: 20px;
    padding-left: 20px;
}